<h2>Edit Posts</h2>

<%= form_for :post, :url => {:action => "filter_edit_index"} do |post| %>
  <div>filter posts by:
    <%= select(:post, :state, [["draft", :draft],['completed', :completed], ['published', :published], ['tossed', :tossed]]) %>
  </div>
  <%= submit_tag "Go", :class => "button" %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Published At</th>
    <th>State</th>
    <th>Actions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= link_to truncate(post.body, :length => 25), post %></td>

    <td>
      <% if post.published_at %>
        <%= post.published_at.strftime("%m/%d/%Y") %>
      <% else %>
        /
      <% end %>
    </td>
    <td><%= post.state %></td>

    <td>
      <% post.next_states.each do |s| %>
        <%= link_to s.to_s.titleize, :action => s, :id => post.id %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path, :class => 'button' %>
